<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087071113834-lg8il9gqhcouv7d2q9jvcgbb1nt7p8k4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087071113834-lg8il9gqhcouv7d2q9jvcgbb1nt7p8k4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1087071113834-7671mt2t7ce2umtbugu4in4cf7qcdjlu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASchRTBb9WT0wq_uaQtFihbLGv2B7pz7c</string>
	<key>GCM_SENDER_ID</key>
	<string>1087071113834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ips-events-manager</string>
	<key>PROJECT_ID</key>
	<string>ips-events-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>ips-events-manager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087071113834:ios:38eed22e57607ae028b013</string>
</dict>
</plist>